- net = current_user.creditor_total - current_user.debtor_total
#net
	Net : 
	%span= net
= link_to 'New Debt', new_debt_path
%h2 Debts
= render partial: 'index_creditor', locals: {user: current_user}
%hr
= render partial: 'index_debtor', locals: {user: current_user}