- net = current_user.creditor_total - current_user.debtor_total
%hr
#net
	Net : 
	%span= net
%h2 Debts
= render partial: 'index_creditor', locals: {user: current_user}
%hr
= render partial: 'index_debtor', locals: {user: current_user}